<div class="container-fluid px-3 pt-2">
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h2>Select grade and student</h2>
      <app-specific-statistics [(info)]="info"></app-specific-statistics>
    </div>
    <div class="col-lg-4 col-sm-8 pb-5">
      <h1>Statistic Info 📈</h1>
      <p>This is the statistics info about a specific grade or student <br> It contains basic information about the shown graph i.e. average score, highest score & lowest score</p>
      <h3 *ngIf="info.name !== ''">Stats for {{info.name}}</h3>
      <h4 *ngIf="info.name === ''"><i>Select grade or student to show stats</i></h4>
      <h2 class="d-inline">🧮</h2> Average score: <b>{{info.average}}</b> <br>
      <h2 class="d-inline">🎢</h2> Highest score: <b>{{info.highest}}</b> <br>
      <h2 class="d-inline">📏</h2> Lowest score: <b>{{info.lowest}}</b> <br>
      <h2 class="d-inline">🍀</h2> Trend: <b>{{info.trend}}</b> <br>
    </div>
  </div>
</div>
