<div class="m-2 p-2 row">
  <select class="form-select ms-2 me-4 w-auto" #grade (change)="onGradeSelected(grade.value)" [(ngModel)]="gradeOption">
    <option [value]="'default'">Pick a grade</option>
    <option *ngFor="let grade of assignedGrades" [value]="grade.gradeId">{{grade.gradeName}}</option>
  </select>
  <select *ngIf="gradeSelected" class="form-select ms-2 w-auto" #student (change)="onStudentChosen(student.value)">
    <option [value]="'default'">Pick a student</option>
    <option *ngFor="let student of students" [value]="student.userId">{{student.name}}</option>
  </select>
</div>
<div>
      <canvas style="height: auto" baseChart
              [data]="lineChartData"
              [options]="lineChartOptions"
              [type]="lineChartType"></canvas>
</div>
