<div class="d-flex">
  <div class="p-2 w-100 container align-items-center justify-content-center">
    <h1 class="text-center">This is your task view ⭐</h1> <br>
    <div *ngIf="!tasks[taskIndex]" class="container text-center">
      <h2>There are currently no tasks for you.</h2>
    </div>
    <div *ngIf="tasks[taskIndex]" class="w-75 container">
      <h3 class="text-center">Please solve: <br>{{tasks[taskIndex].exercise}} </h3>
      <input required
             autocapitalize="none"
             [(ngModel)]="answer"
             [attr.disabled]="alertToShow"
             type="text"
             class="form-control text-center mx-auto"
             placeholder="Answer here ✅"
             (keyup.enter)="getNextTask($event)">

      <ngb-alert class="m-2" *ngIf="alertToShow" [dismissible]="false" [type]="alertToShow.type"> {{alertToShow.message}}</ngb-alert>
    </div>

    <app-spinner *ngIf="alertToShow"></app-spinner>

  </div>
  <div class="p-2 flex-shrink-1">
    <button class="btn btn-outline-success float-end m-2" (click)="showHint = !showHint">Hint</button>
    <div *ngIf="showHint && tasks[taskIndex]" [ngSwitch]="tasks[taskIndex].type">
      <img *ngSwitchCase="'A'" src="assets/img/addition.png" alt="Addition strategy">
      <img *ngSwitchCase="'S'" src="assets/img/subtraction.png" alt="Subtraction strategy">
      <img *ngSwitchCase="'D'" src="assets/img/division.png" alt="Division strategy">
      <img *ngSwitchCase="'M'" src="assets/img/multiplication.png" alt="Multiplication strategy">
      <p *ngSwitchDefault> No hint available for this task type.</p>
    </div>
  </div>
</div>
