<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <!--<img src="../assets/img/learningplatform.png" alt="Learning platform" width="100" height="100">-->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="isLoggedIn">
            <p class="pt-2 pe-2">Hi👋 {{name}}</p>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
<!-- KEEP THIS LINE-->
<router-outlet></router-outlet>
